@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

input {
  border: none;
  outline: none;
  background-color: #f5f5f5;
  padding: 2rem 5rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  text-align: center;
}

button {
  border: none;
  outline: none;
  background-color: #a9a9a9;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: 1.6rem;
}
