* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container-fluid {
  background-color: #000000;
  width: 50vw;
  height: 50vh;
  max-width: 25rem;
  max-height: 25rem;
  margin: 5rem auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #00ff00;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
